#add-to-cart-button {
	    border-radius: 20px;
    float: right;
}

.price {
	color:red;
	padding-left:10px;
	font-size:1.3em;	
}
.free_shipping {
	display:block;
padding-left:10px;
font-size:0.8em;	

}

#products {
	margin-top:30px;
}