<div id="footer">
<div class="container">
<footer>
  
  <div class="col-md-4">
    <h5>Newsletter Kartzill respects your privacy</h5>


  </div>
<div class="col-md-4">
    <h5>Follows</h5>
 <i class="fa fa-facebook fa-2x"></i>
<i class="fa fa-twitter fa-2x"></i>
<i class="fa fa-google fa-2x"></i>

  </div>

  

</footer>   


</div>
</div>