<div class="top-bar">
  <div class="container">
  <div class="row">
<div class="col-md-8">
  

</div>       

<!-- start cart -->
<div class="col-md-4">
  <ul>
      <li id="link-to-cart" data-hook>
        <noscript>
          <%= link_to Spree.t(:cart), '/cart' %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
    </ul>

</div>

<!-- end cart -->  
  </div>
</div>
 
  
</div>


<div id="kartzill-header">
  <header  data-hook>
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4" data-hook>
          

          <%= logo %>
        
        </figure>
        <%= render :partial => 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  <div class="container" id="navigation">

    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  
  </div>

</div>
